@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
  font-size: 16px;
  color: #6D737C;
}

.next,
.prev {
  background: linear-gradient(180deg, #01DAC1 0%, #009AD5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 35px;
}

.grad {
  background: linear-gradient(180deg, #01DAC1 0%, #009AD5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.light-btn {
  padding: 10px 30px;
  border: 2px solid #01DAC1;
  border-radius: 100px;
  font-weight: 500;
  font-size: 13px;
  color: #061020;
}

.color-btn {
  padding: 10px 30px;
  border: 0px solid;
  border-radius: 100px;
  background: linear-gradient(180deg, #01DAC1 0%, #009AD5 100%);
  box-shadow: 0px 0px 35px rgba(22, 12, 96, 0.09);
  font-weight: 500;
  font-size: 13px;
  color: white;
}

.main-btn {
  padding: 10px 30px;
  border: 0px solid;
  background: linear-gradient(180deg, #01DAC1 0%, #009AD5 100%);
  outline: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.main-btn i {
  transform: rotate(-45deg);
  margin-left: 5px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sec-title {
  font-weight: 700;
  font-size: 40px;
  color: #009AD5;
}

.sec-title-2 {
  color: #3E3E3E;
  font-size: 36px;
}

.sec-btn {
  font-weight: 500;
  font-size: 16px;
  color: #908DAB;
}

.sliderTitlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sliderTitlebox .left p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #01DAC1;
}
.sliderTitlebox .right {
  display: flex;
  gap: 20px;
}

.sec-1 {
  margin-top: 90px;
}

.nav.small {
  height: 65px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav.small .nav-container .nav-logo img {
  width: 200px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  z-index: 99999;
  height: 90px;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-container .nav-logo img {
  width: 250px;
  transition: all 0.3s linear;
}
.nav .nav-container .nav-menu {
  margin: 0;
  display: flex;
  gap: 30px;
}
.nav .nav-container .nav-menu .menu-link {
  color: #6D727C;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.nav .nav-container .nav-menu .menu-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #01DAC1;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s linear;
}
.nav .nav-container .nav-menu .menu-link:hover {
  color: #061020;
}
.nav .nav-container .nav-menu .menu-link:hover::after {
  width: 80%;
}
.nav .nav-container .nav-menu .menu-link.active {
  color: #061020;
}
.nav .nav-container .nav-menu .menu-link.active::after {
  width: 80%;
}
.nav .nav-container .login-btns {
  display: flex;
  gap: 15px;
}
.nav .nav-container .logged-in button {
  padding: 8px 10px;
  border: 1px solid #01DAC1;
  border-radius: 150px;
  display: flex;
  align-items: center;
  background: white;
}
.nav .nav-container .logged-in button .loguserimg img {
  width: 30px;
  border-radius: 50%;
  border: 2px solid #009AD5;
}
.nav .nav-container .logged-in button .loguserinfo h6 {
  margin-bottom: 0;
  margin-left: 6px;
}
.nav .nav-container .hamburger {
  display: none;
}

.home-banner {
  padding: 36px 0 0 110px;
  height: 100vh;
  display: grid;
  place-content: center;
}
.home-banner .row {
  align-items: center;
}
.home-banner h2 {
  font-size: 70px;
  font-weight: 700;
  color: #061020;
  margin-top: 60px;
}
.home-banner .featBox {
  background: linear-gradient(129.06deg, rgba(255, 0, 146, 0.2) -41.47%, rgba(255, 255, 255, 0.2) 24.83%, rgba(255, 255, 255, 0.2) 59.91%, rgba(1, 218, 193, 0.2) 111.39%), #FFFFFF;
  box-shadow: 0px 0px 35px rgba(22, 12, 96, 0.09);
  border-radius: 10px;
  padding: 25px;
}
.home-banner .featBox .fetBadge {
  font-size: 11px;
  color: white;
  background: #908DAB;
  border-radius: 15px;
  padding: 3px 15px;
  display: inline-block;
}
.home-banner .featBox .fetPlayBox {
  display: flex;
  align-items: center;
  gap: 15px;
}
.home-banner .featBox .fetPlayBox img {
  width: 70px;
}
.home-banner .featBox .fetPlayBox .fetPlayDetail .epdetail p {
  color: #01B7CC;
  margin-bottom: 0;
}
.home-banner .featBox .fetPlayBox .fetPlayDetail h3 {
  font-weight: 500;
  font-size: 18px;
  color: #061020;
}
.home-banner .featBox .listenbtns {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.home-banner .featBox .listenbtns .listen {
  font-size: 13px;
  color: #6D727C;
  display: flex;
  align-items: center;
  gap: 10px;
}
.home-banner .featBox .listenbtns .listen i {
  font-size: 45px;
}
.home-banner .featBox .listenbtns .btn {
  font-size: 13px;
  color: #6D727C;
  padding: 10px 30px;
  border: 1px solid #061020;
  border-radius: 100px;
}
.home-banner .bannerrightimg {
  width: 60%;
  display: block;
  margin: auto;
}

.latesteps .epgrid {
  gap: 60px;
  padding: 30px 0;
}
.latesteps .epgrid .singleep {
  box-shadow: 1px 1px 16px rgba(0, 154, 213, 0.3);
  border-radius: 10px;
  border: 1px solid #01B7CC;
  padding: 20px;
}
.latesteps .epgrid .singleep .imgbox {
  position: relative;
}
.latesteps .epgrid .singleep .imgbox .epdate {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  top: 10px;
  right: 10px;
  padding: 2px 15px;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
          backdrop-filter: blur(16px) saturate(180%);
  color: white;
  font-size: 11px;
  border-radius: 50px;
}
.latesteps .epgrid .singleep .imgbox .epplay {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  background-color: white;
  border-radius: 50%;
}
.latesteps .epgrid .singleep .imgbox .epplay i {
  font-size: 15px;
}
.latesteps .epgrid .singleep .category {
  font-size: 15px;
  color: #01B7CC;
  margin-bottom: 0;
  margin-top: 8px;
}
.latesteps .epgrid .singleep .eptitle {
  font-weight: 500;
  font-size: 22px;
  color: #061020;
}

.showgrid {
  gap: 60px;
  padding: 30px 0;
}
.showgrid .singleshow {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.16);
}
.showgrid .singleshow .showdesc {
  padding: 30px 30px;
}
.showgrid .singleshow .showdesc p {
  font-size: 14px;
}
.showgrid .singleshow .showdesc .ep-list {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.showgrid .singleshow .showdesc .ep-list .ep-list-item {
  display: flex;
  gap: 15px;
  align-items: center;
}
.showgrid .singleshow .showdesc .ep-list .ep-list-item a {
  font-size: 45px;
}
.showgrid .singleshow .showdesc .ep-list .ep-list-item .eptitlebox p {
  font-size: 11px;
  color: #01B7CC;
  margin-bottom: 5px;
}
.showgrid .singleshow .showdesc .ep-list .ep-list-item .eptitlebox h3 {
  color: #061020;
  font-size: 17px;
}

.hostsection {
  background: linear-gradient(97.04deg, rgba(1, 218, 193, 0.061) -0.71%, rgba(0, 154, 213, 0.1) 53.81%);
  padding: 30px 0;
}
.hostsection .hostgrid {
  padding: 20px 0;
  gap: 40px;
}
.hostsection .hostgrid .singlehost .hostimg {
  border-radius: 50%;
  width: 150px;
  display: block;
  margin: auto;
}
.hostsection .hostgrid .singlehost .hostname {
  font-weight: 500;
  font-size: 23px;
  color: #061020;
}
.hostsection .hostgrid .singlehost .hosttitle {
  font-size: 11px;
  color: #01B7CC;
  margin-bottom: 5px;
}
.hostsection .hostgrid .singlehost .hostdesc {
  font-size: 14px;
}

.besttopic {
  padding: 40px 0;
}
.besttopic h2 {
  font-weight: 700;
  font-size: 40px;
  color: #009AD5;
}
.besttopic .topicgrid {
  gap: 20px;
}
.besttopic .topicgrid .topic-box {
  border: 1px solid #01B7CC;
  border-radius: 15px;
  padding: 20px;
}
.besttopic .topicgrid .topic-box .topictitle {
  display: flex;
  align-items: center;
  gap: 15px;
}
.besttopic .topicgrid .topic-box .topictitle img {
  width: 40px;
}
.besttopic .topicgrid .topic-box .topictitle h3 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}
.besttopic .topicgrid .topic-box .topictitle .light {
  color: #01DAC1;
}
.besttopic .topicgrid .topic-box .topictitle .dark {
  color: #009AD5;
}
.besttopic .topicgrid .topic-box p {
  font-size: 16px;
  margin-top: 10px;
}
.besttopic .topicgrid .topic-box a {
  font-size: 16px;
  font-weight: 800;
}

.testimonial .testimonialgrid {
  gap: 30px;
  padding: 30px 0;
}
.testimonial .testimonialgrid .singletestimonial {
  border: 1px solid #01DAC1;
  padding: 15px;
  border-radius: 15px;
}
.testimonial .testimonialgrid .singletestimonial .revstar {
  display: flex;
  gap: 3px;
  margin-bottom: 15px;
}
.testimonial .testimonialgrid .singletestimonial .revstar i {
  font-size: 12px;
  color: #F0ad4e;
}
.testimonial .testimonialgrid .singletestimonial p {
  font-size: 16px;
}
.testimonial .testimonialgrid .singletestimonial .cl-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.testimonial .testimonialgrid .singletestimonial .cl-box img {
  width: 50px;
}
.testimonial .testimonialgrid .singletestimonial .cl-box .clname {
  font-size: 16px;
  color: #009AD5;
  margin-bottom: 0;
}

.newsletter {
  padding: 30px 60px;
}
.newsletter .row {
  align-items: center;
}
.newsletter .letterbox {
  background: linear-gradient(121.4deg, #548CFF -30.92%, #D1F2FF 16.77%, #FFFFFF 48.83%, #FFFFFF 69.81%, #F8DECF 92.59%);
  box-shadow: 0px 0px 35px rgba(22, 12, 96, 0.09);
  border-radius: 10px;
  padding: 30px;
}
.newsletter .letterbox h2 {
  font-weight: 700;
  font-size: 30px;
  color: #061020;
}
.newsletter .letterbox p {
  font-size: 18px;
}
.newsletter .letterbox form {
  width: 100%;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #91A2AF;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.024);
  border-radius: 10px;
  position: relative;
}
.newsletter .letterbox form input {
  border: none;
  outline: none;
  width: 100%;
  padding-right: 30px;
}
.newsletter .letterbox form button {
  border: none;
  font-size: 18px;
  background: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

footer {
  background: linear-gradient(97.04deg, rgba(1, 218, 193, 0.061) -0.71%, rgba(0, 154, 213, 0.1) 53.81%);
  padding: 40px 0 0;
}
footer p {
  font-size: 18px;
  color: #009AD5;
}
footer .logo img {
  width: 80%;
}
footer h4 {
  font-weight: 600;
  font-size: 18px;
  color: #009AD5;
}
footer .footerlinks {
  padding: 0;
}
footer .footerlinks li {
  margin-top: 10px;
}
footer .footerlinks li .footerlink {
  color: #3E3E3E;
  font-size: 18px;
  font-weight: 400;
}
footer .copyrightbar {
  display: flex;
  justify-content: space-between;
}
footer .copyrightbar p a {
  color: #009AD5;
  margin-left: 5px;
}

.loginpage .leftform {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  height: 100vh;
}
.loginpage .leftform h3 {
  font-size: 30px;
  font-weight: 700;
}
.loginpage .leftform .loginform {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginpage .leftform .loginform label {
  color: #000;
  font-size: 14px;
}
.loginpage .leftform .loginform input {
  width: 100%;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  outline: none;
}
.loginpage .leftform .loginform .eyeIcon {
  float: right;
  margin-top: -30px;
  position: relative;
  margin-right: 10px;
  color: #a8a8a8;
  font-size: 18px;
  cursor: pointer;
}
.loginpage .leftform .loginform .error {
  color: red;
  font-size: 14px;
}
.loginpage .leftform .loginform .sucess {
  color: green;
}
.loginpage .leftform .loginform input[type=password] {
  padding-right: 35px;
}
.loginpage .leftform .loginform .forgot {
  display: block;
  text-align: right;
  font-size: 14px;
}
.loginpage .leftform .loginform .button-grp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginpage .leftform .loginform .button-grp .login-btn,
.loginpage .leftform .loginform .button-grp .google-btn {
  padding: 14px 0;
  border: none;
}
.loginpage .leftform .loginform .button-grp .login-btn {
  background: linear-gradient(93.84deg, #009AD5 -1.16%, #01DAC1 104.45%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;
}
.loginpage .leftform .loginform .button-grp .google-btn {
  color: #000;
  background: white;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
}
.loginpage .leftform .loginform .button-grp .google-btn img {
  width: 18px;
}
.loginpage .leftform p {
  font-size: 14px;
  margin-top: 15px;
}
.loginpage .leftform p a {
  color: #000;
  font-weight: 600;
}
.loginpage .right-img img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-search-form {
  margin: 10px 0;
  position: relative;
  border: 1px solid #01B7CC;
  border-radius: 15px;
  display: inline-block;
  width: 50%;
  padding: 5px;
}
.page-search-form i {
  position: absolute;
  top: 15px;
  left: 15px;
}
.page-search-form input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px 5px 5px 35px;
}

.weekpodcast {
  gap: 25px;
  padding: 0px 0 60px 0;
}
.weekpodcast .singlepod {
  padding: 15px;
  border: 1px solid #01B7CC;
  border-radius: 8px;
}
.weekpodcast .singlepod .poddescBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekpodcast .singlepod .poddescBox .poddesc {
  padding-top: 10px;
}
.weekpodcast .singlepod .poddescBox .poddesc h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
.weekpodcast .singlepod .poddescBox .poddesc p {
  font-size: 16px;
  margin-bottom: 0;
}
.weekpodcast .singlepod .poddescBox .podbtn {
  border: 1px solid #009AD5;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.weekpodcast .singlepod .poddescBox .podbtn i {
  color: #009AD5;
  transform: rotate(-45deg);
}

.likedhost {
  gap: 25px;
  padding-bottom: 60px;
}
.likedhost .singlelikedhost {
  position: relative;
}
.likedhost .singlelikedhost .hostdetail {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}
.likedhost .singlelikedhost .hostdetail h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
.likedhost .singlelikedhost .hostdetail p {
  font-size: 16px;
  margin-bottom: 0;
  color: #000;
  font-weight: 500;
}

.userbanner .userimage {
  width: 150px;
  margin-top: -75px;
}

.userdata form .formfields {
  padding-top: 20px;
  padding-right: 80px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
}
.userdata form .formfields .field label {
  font-size: 18px;
  color: #0092D5;
  text-transform: capitalize;
}
.userdata form .formfields .field .inp {
  position: relative;
  border: 1px solid #009AD5;
  border-radius: 8px;
}
.userdata form .formfields .field .inp .edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.userdata form .formfields .field .inp input,
.userdata form .formfields .field .inp textarea {
  width: 100%;
  padding: 6px;
  padding-right: 60px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.userdata form .formfields .field .inp textarea {
  resize: none;
}

.stickybar {
  padding-top: 10px;
}
.stickybar .pagenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 60px;
  background: white;
  padding: 15px 0;
}
.stickybar .pagenav li a {
  font-size: 24px;
  font-weight: 500;
  color: #0092D5;
}

.uploadpodcast {
  gap: 50px;
  align-items: center;
}
.uploadpodcast .podthumb {
  width: 80%;
  display: block;
  margin: auto;
}
.uploadpodcast .uploaddesc h3 {
  font-weight: 700;
  font-size: 34px;
  color: #000;
}
.uploadpodcast .uploaddesc h3 span {
  color: #01DAC1;
}

.playlistitems {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
}

.playlist {
  display: flex;
  padding: 20px 15px;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
}
.playlist .playlistimg {
  width: 140px;
  height: 140px;
  margin-right: 50px;
}
.playlist .listdesc {
  padding-right: 15%;
}
.playlist .listdesc h3 {
  font-weight: 500;
  font-size: 22px;
  color: #009AD5;
}
.playlist .listdesc .epdata {
  display: flex;
  gap: 20px;
  padding: 0;
  align-items: center;
  margin: 0;
}
.playlist .listdesc .epdata i {
  color: #009aD5;
  margin-right: 5px;
}
.playlist .listdesc .epdata span {
  font-weight: 400;
  font-size: 16px;
  color: #6D727C;
}
.playlist .listdesc .epdata .listen {
  font-size: 13px;
  color: #6D727C;
  display: flex;
  align-items: center;
  gap: 10px;
}
.playlist .listdesc .epdata .listen i {
  font-size: 30px;
  background: linear-gradient(180deg, #01DAC1 0%, #009AD5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.playlist .listdesc .epdata .fa-heart {
  color: red;
}
.playlist .rightbtngrp {
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.playlist .rightbtngrp i {
  color: #009AD5;
  cursor: pointer;
}
.playlist:hover {
  background: rgba(0, 154, 213, 0.1);
  border-width: 1px;
  border-color: #01B7CC;
}
.playlist:hover .rightbtngrp {
  opacity: 1;
  visibility: visible;
}

.pod-player-sec .row {
  align-items: center;
}
.pod-player-sec .pod-player {
  padding: 20px;
  border: 1px solid #815BDB;
  border-radius: 28px;
}
.pod-player-sec .podDetail .podTitle {
  font-weight: 600;
  font-size: 32px;
  color: #3E3E3E;
  margin: 0;
}
.pod-player-sec .podDetail .podartist {
  font-weight: 500;
  font-size: 24px;
  color: #3E3E3E;
}
.pod-player-sec .podDetail .podcat {
  font-weight: 400;
  font-size: 24px;
  color: #3E3E3E;
}
.pod-player-sec .podDetail h4 {
  font-weight: 500;
  font-size: 24px;
  color: #3E3E3E;
}

@media only screen and (max-width: 992px) {
  .nav .nav-container .login-btns {
    display: none;
  }
  .home-banner h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
  .nav-container .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 66px;
    left: -100%;
    width: 100%;
  }
  .nav .nav-container .logged-in {
    border: none;
    padding: 0;
  }
  .nav .nav-container .logged-in .loguserinfo h6 {
    display: none;
  }
  .nav-container .nav-menu.active {
    left: 0;
    padding: 30px;
  }
  .nav .nav-container .hamburger {
    display: block;
    cursor: pointer;
  }
  .nav .nav-container .hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background: #061020;
    margin: 4px;
  }
  .nav .nav-container .hamburger.active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .nav .nav-container .hamburger.active span:nth-child(2) {
    display: none;
  }
  .nav .nav-container .hamburger.active span:nth-child(3) {
    transform: translateY(-3px) rotate(45deg);
  }
  .newsletter {
    padding: 20px;
  }
  .home-banner {
    height: auto;
  }
  footer .copyrightbar {
    flex-direction: column;
  }
  .loginpage {
    display: grid;
    place-content: center;
  }
  .loginpage .leftform {
    padding: 0 50px;
  }
  .loginpage .right-img {
    display: none;
  }
}
@media (max-width: 576px) {
  .sliderTitlebox {
    flex-direction: column;
  }
  .home-banner {
    padding: 10px;
    margin-top: 90px;
  }
  .home-banner h2 {
    font-size: 36px;
  }
  .home-banner .featBox .listenbtns {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  .nav .nav-container .nav-logo img {
    width: 150px;
  }
  .nav.small .nav-container .nav-logo img {
    width: 100px;
  }
}/*# sourceMappingURL=style.css.map */